.speech-bubble {
	position: relative;
	background: #ff4081;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.813em solid transparent;
	border-left-color: #ff4081;
	border-right: 0;
	margin-top: -0.812em;
	margin-right: -0.812em;
}
